@{
    ViewData["Title"] = "Consolas SEGA";
}
<h1>@ViewData["Title"]</h1>

<section class="Consolas Sega">
  <main class="mainDestacados">
    
    <section class="containerProdutos">
      <div class="produto">
          <img src="\Images\Sega_Genesis.png" alt="Génesis" class="produto__img" width="200px">
        <div class="productDescription">
          <h3 class="produto__title">Sega Génesis</h3>
          <span class="produto__price">S/ 400.00</span>
          <br><button> Añadir a carrito</button>
        </div>
        <br>
        <br>
      </div>
      <div class="produto">
          <img src="\Images\Sega_Saturn.png" alt="Saturn" class="produto__img" width="200px">
        <div class="productDescription">
          <h3 class="produto__title">Sega Saturn</h3>
          <span class="produto__price">S/ 550.00</span>
          <br><button> Añadir a carrito</button>
        </div>
        <br>
        <br>
      </div>
      <div class="produto">
          <img src="\Images\Sega_GameGear.png" alt="GameGear" class="produto__img" width="200px">
        <div class="productDescription">
          <h3 class="produto__title">Game Gear</h3>
          <span class="produto__price">S/ 450.00</span>
          <br><button> Añadir a carrito</button>
        </div>
        <br>
        <br>
      </div>
    
    </section>
  </main>
</section>