<!DOCTYPE html>
<html lang="en">
    
    <head>
@{
    ViewData["Title"] = "Marcas Consolas";
}
    </head>
    <div class="px-4 py-5 my-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-6 fw-bold">Catálogo de Productos</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Les mostramos las marcas más representativas del mercado de videojegos.
                A continuación podrás seleccionar una de ellas y se mostrarán las consolas disponibles: 
            </p>
            <div class="justify-content-sm-center">
                <a href = "https://localhost:5001/Catalogo/Consolas_Nintendo" target="_blank"> <img src="\Images\Logo_Nintendo.png" alt="Logo Nintendo" width="250px"> </a>
                <br>
                <br>
                <a href= "https://localhost:5001/Catalogo/Consolas_Sega" target="_blank"><img src="\Images\Logo_Sega.png" alt="Logo Sega" width="250px"> </a>
                <br>
                <br>
                <a href= "https://localhost:5001/Catalogo/Consolas_PlayStation" target="_blank"><img src="\Images\Logo_PlayStation.png" alt="Logo PlayStation" width="250px"> </a>
                <br>
                <br>
                <a href= "https://localhost:5001/Catalogo/Consolas_Xbox" target="_blank"><img src="\Images\Logo_Xbox.png" alt="Logo Xbox" width="250px"></a>
            </div>
        </div>
    </div    
</background>
</html>
