<!DOCTYPE html>
<html lang="en">
    
    <head>
@{
    ViewData["Title"] = "Marcas Consolas";
}
    </head>
<div class="text-center">
    <h1 class="display-4">Catálogo de Productos</h1>
    <br>
    <p> Les mostramos las marcas más representativas del mercado de videojegos. </p>
    <p> A continuación podrás seleccionar una de ellas y se mostrarán las consolas disponibles: </p>
    <br>
    <br>
    <div>

    <a href = "Consolas_Nintendo" target="_blank"> <img src="\Images\Logo_Nintendo.png" alt="Logo Nintendo" width="250px"> </a>
    <br>
    <br>
    <a href= "https://localhost:5001/Catalogo/Consolas_Sega" target="_blank"><img src="\Images\Logo_Sega.png" alt="Logo Sega" width="250px"> </a>
    <br>
    <br>
    <a href= "https://localhost:5001/Catalogo/Consolas_PlayStation" target="_blank"><img src="\Images\Logo_PlayStation.png" alt="Logo PlayStation" width="250px"> </a>
    <br>
    <br>
    <a href= "\Consolas_Xbox" target="_blank"><img src="\Images\Logo_Xbox.png" alt="Logo Xbox" width="250px"></a>
    </div>
</div>
</background>
</html>
