@model ControlWavi.Models.Contacto

@{
    ViewData["Title"] = "Contáctenos";
}

<div class="px-4 py-5 my-5">
    <!--<img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-6 fw-bold text-center">@ViewData["Title"]</h1>
    <div class="col-lg-6 mx-auto">
        <form asp-controller="Contacto" asp-action="Create">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Escriba su nombre" aria-label=".form-control-sm" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control form-control-sm" type="text" placeholder="Escriba su email" aria-label=".form-control-sm" />
            </div>
            <div class="mb-3">
                <label asp-for="Subject" class="form-label"></label>
                <input asp-for="Subject" class="form-control form-control-sm" type="text" placeholder="Escriba el asunto" aria-label=".form-control-sm" />
            </div>
            <div class="mb-3">
                <label asp-for="Comment" class="form-label"></label>
                <input asp-for="Comment" class="form-control form-control-sm" type="text" placeholder="Escriba su comentario" aria-label=".form-control-sm" />
            </div>
             <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button> 
            </div>              
        </form>
    </div>
</div>
