@{
    ViewData["Title"] = "Consolas NINTENDO";
}
<h1>@ViewData["Title"]</h1>

<section class="Consolas Nintendo">
  <main class="mainDestacados">
    
    <section class="containerProdutos">
      <div class="produto">
          <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\NES.png" alt="NES" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">Nintendo NES</h3>
          <spam class="produto__price">S/ 300.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\SNES.png" alt="SuperNintendo" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">Super Nintendo</h3>
          <spam class="produto__price">S/ 350.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\N64.png" alt="Nintendo 64" class="produto__img">
        <div class="productDescription">
          <h3 class="produto__title">Nintendo 64</h3>
          <spam class="produto__price">S/ 450.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto">
          <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\GameCube.png" alt="GameCube" class="produto__img">
       <div class="productDescription">
        <h3 class="produto__title">Nintendo GameCube</h3>
        <spam class="produto__price">S/ 500.00</spam>
        </div>
        <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
      </div>
      <div class="produto"> 
        <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\Wii.png" alt="Wii" class="produto__img">
      <div class="productDescription">
        <h3 class="produto__title">Nintendo Wii</h3>
        <spam class="produto__price">S/ 350.00</spam>
      </div>
      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
    </div>
    <div class="produto">
        <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\Wii_U.png" alt="Wii_U" class="produto__img">
      <div class="productDescription">
        <h3 class="produto__title">Wii U</h3>
        <spam class="produto__price">S/ 500.00</spam>
      </div>
      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
    </div>
    <div class="produto">
        <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\nintendo_consolas\Switch.png" alt="Switch" class="produto__img">
      <div class="productDescription">
        <h3 class="produto__title">Nintendo Switch</h3>
        <spam class="produto__price">S/ 700.00</spam>
      </div>
      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
    </div>
    <div class="produto">
        <img src="images/Novidades/Novidade8.jpg" alt="" class="produto__img">
     <div class="productDescription">
        <h3 class="produto__title">Novidade 8</h3>
        <spam class="produto__price">$90.00</spam>
      </div>
      <a href=""><i class="produto__icon fas fa-cart-plus"></i></a>
    </div>
    </section>
  </main>
</section>
