<!DOCTYPE html>
<html lang="en">
    <head>
@{
    ViewData["Title"] = "Marcas Consolas";
}
    </head>
<div class="text-center">
    <h1 class="display-4">Catálogo de Productos</h1>
    <br>
    <p> Les mostramos las marcas más representativas del mercado de videojegos. </p>
    <p> A continuación podrás seleccionar una de ellas y se mostrarán las consolas disponibles: </p>
    <br>
    <br>
    <div>
    <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\Logo_Nintendo.png" alt="Logo Nintendo" width="150px"> </img>
    <br>
    <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\Logo_Sega.png" alt="Logo Sega" width="150px"> </img>
    <br>
    <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\Logo_PlayStation.png" alt="Logo PlayStation" width="150px"> </img>
    <br>
    <img src="C:\ControlWavi\ControlWavi\wwwroot\Images\Logo_Xbox.png" alt="Logo Xbox" width="150px"> </img>
    </div>
</div>
</html>
