@{
    ViewData["Title"] = "Home Page";
}

<header>
</header>
<body>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->   
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/imagen/ps4-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/imagen/ps5-2.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>
  <footer>
      <div class="container-footer-all">
      <div class="container-body">
          <div class="columna1">
                <a href="https://localhost:5001/Home/Privacy">SOBRE NOSOTROS:</a>
                
          </div>
          <div class="columna2">
              <h1>REDES SOCIALES:</h1>
              <div class="row">
                <a href="https://www.facebook.com/ControlWavi"><img src="/imagen/facebook.jpg"  alt="facebook"></a>  
                  <label>Siguenos en facebook</label>
              </div>
              <div class="row">
                  <img src="/imagen/instagran.jpg" alt="instagran">
                  <label>Siguenos en instagran</label>
              </div>
              <div class="row">
                  <img src="/imagen/Twitter.jpg"  alt="Twitter">
                  <label>Siguenos en twitter</label>
              </div>
              
          </div>
          <div class="columna3">
              <h1>INFORMACION DE CONTACTO:</h1>
              <div class="row2">
                <img src="/imagen/casa.jpg" alt="casa">
                <label>Av.Brazil 120, Lima Perú</label>
              </div>
              <div class="row2">
                <a href="https://chat.whatsapp.com/KZqjWlFdMwyC7SXipGDq4j"><img src="/imagen/whatsapp2.jpg" alt="whatsapp2"></a>
                <label>+51 946658835</label>
              </div>
              <div class="row2">
                <img src="/imagen/correo.jpg"  alt="correo">
                <label>alexander@gmail.com</label>
              </div>
          </div>
      </div>
    </div>
    
  </footer>
</body>
