@{
    ViewData["Title"] = "SOBRE NOSOTROS:";
}
<font color="orange"><h1>@ViewData["Title"]</h1></font>

<br>
<br>
<body>
                  <font color="white"><p>Somos una tienda que se encarga de la venta<br>
                      de consolas garantizamos que su compra sera<br>
                     satisfactoria y con un año de garantia en<br> 
                     nuestros productos nuevos.</p></font>

<br>
<br>



<div class="row">
      <div class="col-md-4">
        <font color="green"><h2>Mision:</h2></font>
<font color="white" >
<p>Ser una tienda que cumpla con las<br> 
necesidades de nuestros clientes en lo<br>
que son las consolas, para el <br>
entretenimiento de nuestros clientes<br> 
con su fanatismo hacia los videojuegos<br>
y tratando de dar la mejor calidad para<br> 
el confor de los clientes.</p>
</font>
      </div>
      <div class="col-md-4"><font color="green"><h2>Vision:</h2></font>
<font color="white" >
<p>nuestra vision a futuro es poder <br> 
    distribuir las consolas a todas las<br>
    provincias del Perú y ser una tienda<br>
    lider que vaya mas producctos con<br>
    relacion a las videojuegos.</p>
</font></div>
    
    <div class="col-md-4"><font color="green"><h2>Valores:</h2></font>
<font color="white" >
<p>*Respeto<br>
   *Confianza<br>
   *Entusiasmo<br>
   *Alegria<br>
   *Honestidad
</p>
</font></div>
   
</body>