@{
    ViewData["Title"] = "Control Wavi";
}
<body>
    <div class="px-4 py-5 my-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-6 fw-bold">@ViewData["Title"]</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Somos una tienda que se encarga de la venta de consolas garantizamos que su compra sera
            satisfactoria y con un año de garantia en nuestros productos nuevos.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="#vermas" class="btn btn-primary btn-lg px-4 gap-3">ver más</a>
        </div>
        </div>
    </div>
    <div style="background-image: url('../Images/Fondo.png');background-attachment: fixed;">
        <div class="container px-4 py-5" id="vermas">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2 text-white">
                <div class="col d-flex align-items-start">
                    <div class="icon-square flex-shrink-0 me-3">
                        <i class="bi bi-controller fs-3"></i>
                    </div>
                    <div>
                    <h2>Mision</h2>
                    <p>Ser una tienda que cumpla con las necesidades de nuestros clientes en lo que son las consolas, para el entretenimiento de nuestros clientes con su fanatismo hacia los videojuegos y tratando de dar la mejor calidad para el confor de los clientes.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-square flex-shrink-0 me-3">
                        <i class="bi bi-bar-chart-line fs-3"></i>
                    </div>
                    <div>
                    <h2>Visión</h2>
                    <p>Nuestra vision a futuro es poder distribuir las consolas a todas las provincias del Perú y ser una tienda lider que vaya mas producctos con relacion a las videojuegos.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div style="background-color:#1c2331;">
        <div class="px-4 py-5 text-center text-white">
            <!--<img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
            <i class="bi bi-award fs-3"></i>
            <h2>Valores</h2>
            <div class="col-lg-6 mx-auto">
                <p class="lead">
                    - Respeto<br>
                    - Confianza<br>
                    - Entusiasmo<br>
                    - Alegria<br>
                    - Honestidad
                </p>
            </div>
        </div>
    </div>
</body>
