/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
body{
  background-image: url("/imagen/ControlWavibazar.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
footer{
  background: #202020;
  color: white;
}
.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-body {
  display: flex;
  justify-content: space-between;
}
.columna1{
  max-width: 400px;
}

.columna1 h1 {
  font-size: 22px;
}

.columna1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
.columna2{
  max-width: 400px;
}

.columna2 h1{
 font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}
.row img{
  width: 35px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.columna3{
  max-width: 400px;
}

.columna3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}
.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
    width: 100%;
    background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.copyright {
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}
@media screen and (max-width: 1100px){
  .container-body{
    flex-wrap: wrap;
  }
  .columna1{
    max-width: 100%;
  }
  .columna2,
  .columna3{
    margin-top: 40px;
  }




}